/* so-dashboard/front-end/src/components/ProgressBar/ProgressBar.module.css */
.progressBarWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.progressBarContainer {
    flex-grow: 1;
    background-color: var(--background-body);
    border-radius: 4px;
    overflow: hidden;
}

.progressBarFill {
    height: 100%;
    border-radius: 4px;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.progressBarValueText {
    font-size: 0.8rem;
    color: var(--text-secondary);
    min-width: 40px;
    text-align: right;
}