/* so-dashboard/front-end/src/components/Card/Card.module.css */
.cardContent {
    /* Estilos específicos para o conteúdo do card, se necessário */
}

.cardIcon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: var(--text-secondary);
}

.cardIcon svg {
    line-height: 1;
}