/* so-dashboard/front-end/src/components/Layout/DashboardLayout.module.css */
.dashboardLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-body);
}

.header {
  background-color: var(--background-card);
  color: var(--text-primary);
  padding: var(--padding-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-soft);
  flex-shrink: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.logo {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-primary);
  display: flex;
  /* Para alinhar ícone e texto do logo */
  align-items: center;
}

.logo svg {
  /* Para estilizar o ícone no logo se usar react-icons */
  margin-right: 8px;
  height: 22px;
  /* Ajuste conforme o ícone */
  width: auto;
}

.nav span {
  margin-left: 20px;
  font-size: 0.9rem;
  color: var(--text-secondary);
}

.mainContent {
  flex-grow: 1;
  padding: var(--padding-main);
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));  Ajuste minmax conforme necessário */
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
  /* Mais responsivo */
  gap: var(--padding-main);
}

.footer {
  text-align: center;
  padding: var(--padding-main);
  background-color: var(--background-card);
  color: var(--text-secondary);
  font-size: 0.8rem;
  border-top: 1px solid var(--border-soft);
  flex-shrink: 0;
}