/* so-dashboard/front-end/src/components/ProcessStatus/ProcessStatusDistributionCard.module.css */
.chartContainer {
    width: 100%;
    height: 280px;
    /* Pode ajustar conforme necessário */
}

.loadingText,
.errorText {
    color: var(--text-secondary);
    text-align: center;
    padding: 20px;
    font-style: italic;
}

.errorText {
    color: var(--chart-color-cpu-core6);
    /* Cor vermelha para erro */
}